#arrowUp {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 50px;
    width: 70px;
    height: 70px;
    color: var(--white);
    background: var(--indigo);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
  }

  #arrowUp.visible {
    opacity: 1;
    pointer-events: auto;
  }