:root{
    --red:#e63946;
    --white: #f1faee;
    --skyBlue: #a8dadc;
    --blue: #457b9d;
    --indigo: #1d3557;
    --black: #000000;

    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
}